[submodule "robust_speech"]
	path = robust_speech
	url = https://github.com/prrathi/robust_speech
[submodule "speechbrain"]
	path = speechbrain
	url = https://github.com/prrathi/speechbrain
[submodule "deepfake_attack"]
	path = deepfake_attack
	url = https://github.com/xelas-bot/deepfake_attack.git
